/*.body_login{
    background-image:url('/design/Logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}*/
.main_login{
    position: relative;
}
.img_fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    opacity: 0.5;
    z-index: -1;
    border: 10px solid var(--colorGrisClaro);
}
.div_usuario-img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 50%; */
    margin-bottom: 5%;
}
.usuario_img{
    margin-top: 20%;
    border-radius: 50%;
    width: 25%;
}
.div_input_login{
    display: flex;
    justify-content: center;
 }

.form_login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    resize: none;
    gap: 20px;
}
.input_login{
    margin-left: 5%;
    width: 70%;
    height: 30px;
    outline: none;
    padding: 4px;
    background-color: var(--colorGrisClaro);
    border: none;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
    align-self: center;
}
.login_remember{
    padding-left: 18%;
    font-size: small;
}
.form_login--button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    margin-top: 1%;*/
    align-self: center;
}
.form_login--button button{
    color: white;
    background-color: var(--colorGrisCasiNegro);
    border: none;
    width: 130%;
    height: 40px;
    border-radius: 5px;
    align-self: center;
}

.registrarse{
    text-align: center;
    text-decoration: none; 
    color: black
}
.col-122{
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.error_login{
    color: red;
    margin-left: 60px;
}
/*TABLET*/
@media (min-width: 768px) {
    .input_login{
        height: 40px;
    }
    .error_login{
        color: red;
        margin-left: 133px;
    }

    .form_login--button button{
        width: 150%;
    }

    .login_remember{
        padding-left: 18%;
        font-size: medium;
    }
    .img_fondo{
        height: auto;
    }

}
/*DESKTOP*/
@media (min-width: 1024px) {
    .input_login{
        height: 50px;
    }
    .form_login--button button{
        width: 200%;
    }
    .error_login{
        color: red;
        margin-left: 270px;
    }
    .img_fondo{
        border: 20px solid var(--colorGrisClaro);
    }
    .img_fondo{
        height: auto;
    }
}