.h1_agregar_producto {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top:20px ;
    text-align: center;
}

/* .section_agregar_producto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--colorGrisClaro);
    padding-top: 0%;
    border-radius: 15px;
    margin: 50px;
    margin-bottom: 15px;
    margin-top: 0px;
} */
.form_addProduct{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.col-11{
    display: flex;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
    padding: 5px;
    margin-left: 5%;
    width: 90%;
    outline: none;
    padding: 4px;
    background-color: #ededed;
    border: none;
    box-shadow: 0px 2px 5px rgb(100 100 100);
}
.form_addEntero_1{
    background-color: var(--colorGrisClaro);
        margin-bottom: 5px;
        margin-top: 0px;
        border-radius: 15px;
}
.form-controlAdd{
    margin-left: 5%;
    width: 90%;
    outline: none;
    padding: 4px;
    background-color: #ededed;
    border: none;
    box-shadow: 0px 2px 5px rgb(100 100 100);
}
.form_addEntero_2{
    background-color: var(--colorGrisClaro);
    margin-bottom: 15px;
    margin-top: 0px;
    border-radius: 15px;
}
.col-123{
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 20px;
}
.col-description{
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 20px;
}

.form-control1{
    width: 290px;
    height: 80px;
    margin-left: 5%;
    width: 90%;
    outline: none;
    padding: 4px;
    background-color: #ededed;
    border: none;
    box-shadow: 0px 2px 5px rgb(100 100 100);
}
.boton_add{
    padding: 30px;
    padding-top: 0%;
}

.flecha_arriba{
    display: none;
}
.guardar_add{
    background-color: rgb(148, 220, 148);
    border-radius: 10%;
    border-color: aliceblue;
    border: none;
    height: 30px;
    width: 76px;
    box-shadow: 0px 1px 10px #888, 0px 0px 14px #888;
}
.cancelar_add{
    background-color: rgb(240, 128, 108);
    border-radius: 10%;
    border: none;
    border-color: aliceblue;
    height: 30px;
    width: 76px;
    box-shadow: 0px 1px 10px #888, 0px 0px 14px #888;
}

@media(min-width: 768px){

    .form_addProduct{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .form_addEntero_1{
        background-color: var(--colorGrisClaro);
            margin-bottom: 15px;
            margin-top: 0px;
            border-radius: 15px;
            height: 275px;
            width: 260px;
            margin-right: 10px;
    }
    .form_addEntero_2{
        background-color: var(--colorGrisClaro);
        margin-bottom: 15px;
        margin-top: 0px;
        border-radius: 15px;
        width: 260px;
    }
    .add_control{
        margin-top: 50px;
    }
    .col-123{
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 230px;
        margin-left: 20px;
    }
    .col-description{
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 230px;
        margin-left: 20px;
    }
    
    .form-control1{
        width: 206px;
        height: 80px;
        margin-left: 5%;
    width: 90%;
    outline: none;
    padding: 4px;
    background-color: #ededed;
    border: none;
    box-shadow: 0px 2px 5px rgb(100 100 100);
margin-bottom: 5px;    
}
}

@media(min-width: 1024px){

}  

