.h3_profile{
   /*color: var(--colorRojo);*/
    /* margin-left: 2%; */
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
.imagen_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.imagen_profile img{
    width: 100px;
    border-radius: 50%;
}
/* FORMULARIO */
.form_profile{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.form_input--profile label{
    font-size: 15px;
    margin-left: 2%;
    font-weight: 500;
}
.form_input--profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form_profile--image{
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;
    outline: none;
    padding: 4px;
    background-color: var(--colorGrisClaro);
    border: none;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
}
.form_input--profile input{
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;
    outline: none;
    padding: 4px;
    background-color: var(--colorGrisClaro);
    border: none;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
}
.h5--profile{
    color: var(--colorRojo);
    margin-bottom: 2%;
    margin-left: 2%;
}
.h5_profile--avatar{
    color: var(--colorRojo);
    margin-bottom: 6%;

}
.form__select--profile{
    margin-left: 5%;
    width: 70%;
    outline: none;
    padding: 4px;
    background-color: var(--colorGrisClaro);
    border: none;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
}
.form_input--profile--image{
    margin-left: 5%;
    width: 90%;
}
.input_image--profile{
    width: 90%;
    outline: none;
    padding: 4px;
    background-color: var(--colorGrisClaro);
    border: none;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
}


/* BUTTON */
.div_button--profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.cancelar_add--profile{
    background-color: rgb(240, 128, 108);
    border-radius: 10%;
    border: none;
    border-color: aliceblue;
    height: 30px;
    width: 76px;
    box-shadow: 0px 1px 10px #888, 0px 0px 14px #888;
}
.guardar_add--profile{
    background-color: rgb(148, 220, 148);
    border-radius: 10%;
    border-color: aliceblue;
    border: none;
    height: 30px;
    width: 76px;
    box-shadow: 0px 1px 10px #888, 0px 0px 14px #888;
}

/* TABLET */
@media (min-width: 1024px) {

}
/* DESKTOP */
@media (min-width: 768px) {
    .form_entero_1{
        background-color: var(--colorGrisClaro);
        margin-bottom: 15px;
        margin-top: 0px;
        border-radius: 15px;
    }
    .form_perfil{
        display: flex;
        justify-content: center;
    }
    .form_entero_2{
        background-color: var(--colorGrisClaro);
        margin: 15px;
        margin-bottom: 15px;
        margin-top: 0px;
        border-radius: 15px;
    }
    
    .form_profile{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .form_input--profile label{
        font-size: 15px;
        margin-left: 2%;
        font-weight: 500;
        margin-top: 5px;
    }
    .guardar_profile{
        margin-right: 20px;
    }
    .form_input--profile{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 8px;
        width: 300px;
    }
    .form_input--profile input{
        margin-left: 5%;
        width: 90%;
        outline: none;
        padding: 4px;
        background-color: #ededed;
        border: none;
        box-shadow: 0px 2px 5px rgb(100, 100, 100);
    }
    .h5--profile{
        color: var(--colorRojo);
        margin-left: 2%;
        margin-top: 5px;
    }
    .h5_profile--avatar{
        color: var(--colorRojo);
        margin-bottom: 6%;
    
    }
    .form__select--profile{
        margin-left: 5%;
        width: 70%;
        outline: none;
        padding: 4px;
        background-color: #ededed;
        border: none;
        box-shadow: 0px 2px 5px rgb(100, 100, 100);
    }
    .form_input--profile--image{
        margin-left: 5%;
        width: 90%;
    }
    .input_image--profile{
        width: 90%;
        outline: none;
        padding: 4px;
        background-color: var(--colorGrisClaro);
        border: none;
        box-shadow: 0px 2px 5px rgb(100, 100, 100);
    }
}