<footer>
    <a class="flecha_arriba_footer" href="#"><i class="fa-solid fa-3x fa-circle-arrow-up"></i></a>
    <!-- <a class="flecha_arriba_footer_cel" href="#"><i class="fa-solid fa-2x fa-circle-arrow-up"></i></a> -->
    <div class="logo">
        <a href="/"><img class="Logo_footer" src="/design/Logo.jpg" alt="logo" height="0"></a>
    </div>
    <img class="mobileimg" src="/img/fotofooter.jpg" alt="Imagen del logo">
    <section class="datos">
        <div class="empresa">
            <h3>Empresa</h3>
            <p>Somos un pequeño grupo de emprendedores, el cual queremos implementar nuestro estilo único que te
                hara volar hasta la luna</p>
        </div>
        <div class="horarios">
            <h3>Horarios</h3>
            <p>LUNES A VIERNES<br>
                De 09:00hs hasta 18:00hs <br>
                SÁBADOS <br>
                De 10:00hs a 13:00hs</p>
                <h3 class="cel_">Contacto</h3>
                <p class="cel_"><i class="fa-brands fa-whatsapp"></i>  1123432253</p>
        </div>

        <div class="horarios_2">
            <h3>Contacto</h3>
            <p><i class="fa-brands fa-whatsapp"></i>  1123432253</p>
        </div>
        </section>
    <section class="copyright">
        <p>Copyright © 2022 MoonWalking todos los derechos reservado</p>
    </section>
</footer>