<header>

  <div class="encabezado p-3 pt-0">
    
    <a href="/"><img src="/design/Logo.jpg" width="100px" alt="logo" ></a>
   
    <form action="/products/search" method="GET" id="form-buscador" class="mb-3 mb-md-0 d-flex position-relative formSearch">
      <input class="form-control" id="input-buscador" name="keywords" type="text" placeholder="Buscar" style="padding-right: 35px;">
      <button class="border-0 bg-transparent" style="position: absolute; right: 15px; top: 8px;">
        <i class="fa fa-search"></i>
      </button>

    </form>

    <div class="carrito">
      <% if (locals.userLogin && locals.userLogin.admin) { %>
         <!--agregar producto -->
         <div class="logo_mas_pc1"><a href="/products/add"><i
          class="fa-solid fa-2x  fa-plus"></i><p>Nuevo</p></a></div>
        <!-- agregar producto -->
        <hr class="barra_hr">
  
        <!--perfil -->
        <div class="logo_mas_pc1"><a class="" href="/users/profile"><img src="/img/usuario luna blanca.jpg" alt=""
              height="30">Perfil</a></div>
        <!-- perfil -->
        <hr class="barra_hr">
        <!--logout -->
      
        <div class="logo_mas_pc"><a class="" href="/users/logout"><i
              class="fa-sharp fa-2x fa-solid fa-arrow-right-from-bracket"></i>Salir</a></div>
        <!-- logout -->
        <% } else if (locals.userLogin) { %>
          <div><a href="" id="btn-cart" class="logo_mas_pc1" data-bs-toggle="modal" data-bs-target="#cartModal"> <i
                class="fa-solid fa-2x  fa-shopping-basket"></i><p>Carrito</p></a></div>
          <hr class="barra_hr">
          <!--perfil -->
          <div class="logo_mas_pc1"><a class="" href="/users/profile"><img src="/img/usuario luna blanca.jpg" alt=""
                height="30">Perfil</a></div>
          <!-- perfil -->
          <hr class="barra_hr">
          <!--logout -->
          <div class="logo_mas_pc1"><a class="" href="/users/logout"><i
                class="fa-sharp fa-2x fa-solid fa-arrow-right-from-bracket"></i><p>Salir</p> </a></div>
       
          <!-- logout -->
          <% }else{%>
            <!-- para visitantes -->
            <a class="" href="/users/login"> <img src="/img/usuario luna blanca.jpg" alt="" height="80px"></a>
            <% } %>
              <!-- para visitantes -->
    </div>
  </div>


</header>
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cartModalLabel">Mi Compra</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body table-responsive" id="box-cart">
        <table class="table" id="cart-box">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody id="cart-items">

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between gap-2">
          <div class="d-flex gap-2">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Seguir comprando</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="/js/buscador.js"></script>