<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title : 'Inicio de sesión'}) %>
<body class="body_login">

    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <img class="img_fondo" src="/img/fondo.jpeg" alt="">
                <h2>Bienvenido a MoonWalking</h2>
                <h3 class="log">Una pagina que te hara volar hasta la Luna</h3>
                <p>¿Todavía no tenes tu cuenta?</p>
                <a href="/users/register"><button class="sign-up-btn">Registrarse</button></a>
                <p class="mt-4"><a href="/">VOLVER AL HOME</a></p>
                

            </div>
        </div>

        <form action="/users/login" id="formLogin" class="formulario" method="POST">
            <h2 class="create-account">Iniciar Sesion</h2>
            <div class="">
                <input class="input_login validateInput" type="email" name="email" id="emailLogin" placeholder="Correo Electrónico:">
                <small id="errorEmail" class="error_login"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
             </div>
             <div class="">
                <div class="position-relative">
                    <input class="input_login validateInput" type="password" name="password" id="passwordLogin" placeholder="Contraseña:">
                    <span class="viewPass" style="cursor: pointer;" id="btn-show-passW"><i class="fa-solid fa-eye-slash"></i></span>
                </div>
               
                <small id="errorPassword" class="error_login"><%= locals.errors && errors.password ? errors.password.msg : null %></small>
               
            </div>
            <div class="login_remember1">
                <p>Recordarme<input class="login_input_remember" type="checkbox" id="recordame" name="remember"></p>
            </div>
            <div class="form_login--button">
                <button type="submit">Iniciar Sesion</button>
             </div>
             <div class="register__cel">
              
                <p>¿Todavía no tenes tu cuenta?   <a  href="/users/register">Registrate</a></p>
            </div>
        </form>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/validacionLogin.js"></script>
</body>
</html>