<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title : 'Login'}) %>
<body class="body_login">
    <main class="main_login">
        <img class="img_fondo" src="/img/fondo.jpeg" alt="">
        <div class="div_usuario-img">
        <img class="usuario_img"src="/img/usuario luna blanca.jpg" alt="login">
        </div>
        <form action="/users/login" class="form_login" method="POST">
            <div class="col-123">
                <input class="input_login" type="email" name="email" placeholder="Dirección de email:">
                <small class="error_login"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
             </div>
             <div class="col-123">
                <input class="input_login" type="password" name="password" placeholder="Contraseña:">
                <small class="error_login"><%= locals.errors && errors.password ? errors.password.msg : null %></small>
            </div>
            <div class="login_remember">
                <input class="login_input_remember" type="checkbox" id="recordame" name="remember">
                <label class="" for="remember">Recordame</label>
            </div>
            <div class="form_login--button">
                <button type="submit">INICIAR SESION</button>
                <p class="registrarse"><a href="./register">Registrarse</a></p>
             </div>
        </form>
    </main>
</body>
</html>